@import "vars";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $app-main-background;
  position: absolute;
}
a:any-link {
  color: unset;
  text-decoration: unset;
}