@import "vars";

body {
  margin: 0;
  padding: 0;
  height: calc(100% - 2rem);
  overflow: hidden;
  background-color: $app-main-background;
}
a:any-link {
  color: unset;
  text-decoration: unset;
}