@import "vars";

button {
  appearance: none;
  font-size: 1.5em;
  padding: .5rem 1rem;
  border: 0;
  border-radius: 4px;
  &:focus-visible {
    outline: none;
  }

  background-color: transparent;
  color: $app-button;
  &:hover {
    background-color: $app-button-background;
  }
  &:focus {
    background-color: darken($color: $app-button-background, $amount: 3);
  }
  &:active {
    background-color: darken($color: $app-button-background, $amount: 6);
  }
  &:disabled {
    border-color: $app-disabled;
    color: $app-disabled;
    background-color: transparent;
  }

  &.secondary {
    border: 2px solid $app-button;
  }

  &.primary {
    background-color: $app-button;
    color: white;
    font-weight: lighter;
    box-shadow: 0px 3px 4px lightgrey;
    &:hover {
      background-color: lighten($color: $app-button, $amount: 3);
    }
    &:focus {
      background-color: darken($color: $app-button, $amount: 3);
    }
    &:active {
      background-color: darken($color: $app-button, $amount: 6);
    }
    &:disabled {
      color: $app-disabled;
      background-color: mix(white, $app-disabled, 80%);
    }
  }
}